#console{
    max-height: 300px;
    min-height: 300px;
    overflow-y: scroll;
    background-color: rgb(65, 65, 65);
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px;
    font-size: 20px;
}


#console::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

#console::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

#console::-webkit-scrollbar-track {
    background: rgb(65, 65, 65);
    border: 3px solid black;
    width: 10px;
}
