button{
    font-size: 20px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.7);
}


#menu-div{
    height: 590px;
    float: left;
    background-color: rgb(109, 109, 109);
    margin-right: 10px;
    margin-top: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}
#create-repository{
    margin-top: 20px;
}
