body{
    background-color: rgb(53, 53, 53); 
    height: 100%;
}
html{
    height: 100%;
}
#mainDiv{
    display:flex;
    flex-direction: column;
}
#nonConsoleDiv{
    display:flex;
    flex-direction: row;
}