#col-container{
    margin-bottom:200px;
}


.system-dropdown, .package-type-dropdown, .bu-dropdown{
    width:510px;
    font-size: 16px;
    border-radius: 5px;
}
.system-p, .package-type-p{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.bu-p, .project-name-p{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
.project-name-input{
    width: 500px;
    font-size: 16px;
    border-radius: 5px;
}


.users-and-groups-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.users-and-groups-add-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.users-and-groups-p{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.users-and-groups-input{
    width: 200px;
    font-size: 16px;
    border-radius: 5px;
}
.users-and-groups-add-button{
    width:50px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    margin-right: 15px;
}
.user-and-group-item-div{
    overflow: auto;
    height: 200px;

}
.item-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-and-group-item-div::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}
.user-and-group-item-div::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}
.user-and-group-item-div::-webkit-scrollbar-track {
    background: rgb(65, 65, 65);
    border: 3px solid black;
    width: 10px;
}
.item-name-p{
    color: white;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 200px;
}
.item-permission-dropdown{
    width:150px;
    height: 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 15px;
}
.item-delete-button{
    width:50px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    margin-right: 15px;
}
